html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

.main{
  display: flex;
  height: 100vh;
}
.sidebar{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 25%;
  width: 100%;
  background-color: rgb(252, 252, 252);
  border-right: 2px solid #ddd;
  box-shadow: 10px 0px 10px #ddd;

}
.sidebar--empty{
  background-image: url("/img/undraw_No_data_re_kwbl\ \(1\).svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 360px 240px;
}
.sidebar__title{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
}

.sidebar__bottom {
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.bookmarked-pokemons {
}
.bookmarked-pokemons__item {
  position: relative;
  /* transform: translateX(-100%);
  opacity: 0; */
  animation-name: bookmark-item;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* .bookmarked-pokemons__item:hover .bookmarked-pokemons__item-remove{
  display: inline-block;
} */
.bookmarked-pokemons__item-remove{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-left: 4px;
  border: none;
  background-color:rgb(2, 141, 255);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  /* background-image: url("/img/arrow-left-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px; */
  transition: width 0.3s ease;
}
.bookmarked-pokemons__item-remove-img{
  display: block;
}
.bookmarked-pokemons__item-remove:hover{
  width: 36px;
}
.bookmarked-pokemons__link {
}

.bookmarked-pokemon {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgb(218, 218, 218);
  color: #000;
  border-radius: 5px;
  padding: 6px;
  transition: transform 0.2s ease,box-shadow 0.2s ease;
  border: 2px solid transparent;
}
.bookmarked-pokemon:hover{
  transform: translateY(-2px);
  box-shadow: 0px 8px 10px rgb(212, 212, 212);
}
.bookmarked-pokemon__img {
  display: block;
  margin-right: 20px;
  object-fit: cover;
}
.bookmarked-pokemon__details {
}
.bookmarked-pokemon__title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}
.bookmarked-pokemon__features-wrapper{
  display: flex;
  align-items: center;
}
.bookmarked-pokemon__features-wrapper-title{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.bookmarked-pokemon__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
}
.bookmarked-pokemon__feature {
  padding: 2px 6px;
  background-color: #222;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  margin:2px 2px;
}
.bookmarked-pokemon__sizes{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.bookmarked-pokemon__height-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.bookmarked-pokemon__weight-wrapper {
  display: flex;
  align-items: center;
}
.bookmarked-pokemon__height-img{
  display: block;
  margin-right: 4px;
  object-fit: contain;
}
.bookmarked-pokemon__weight-img{
  display: block;
  margin-right: 4px;
  object-fit: contain;
}
.bookmarked-pokemon__height{
  display: block;
  font-weight: 700;
}
.bookmarked-pokemon__weight{
  display: block;
  font-weight: 700;
}

.left{
  max-width: 75%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  /* max-width: 1340px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%; */
  padding:10px 20px;
  border-radius: 5px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

}
.nav__item{
  margin-right: 5px;
  margin-left: 5px;
}
.nav__link{
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 5px;
}
.nav__link:hover{
  background-color: #fff8cd;
}
.logo {
  display: block;
}
.logo__img {
  display: block;
}

.search {
  padding: 20px;
}
.search__container {
}
.search__form {
  display: flex;
  justify-content: center;
}
.search__input{
  outline: none;
  padding: 10px 14px;
  max-width: 640px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border-right:   none; */
  box-shadow: 0px 0px 10px #ddd;
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}

.search__input::placeholder{
  font-family: "Poppins",sans-serif;
}
.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 80px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border-left:   none; */
  box-shadow: 0px 0px 10px #ddd;
  cursor: pointer;
}
.search__button-img {
  display: block;
  object-fit: contain;
}


/* categories */
.categories{
  padding-top: 20px;
  padding-bottom: 20px;
}
.categoires__container {
  padding-left: 20px;
  padding-right: 20px;
}
.categories__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

}
.categories__item {
  /* transform: rotate(90deg); */
  margin:4px 6px;
}
.categories__item--active .categories__link{
  background-color: #eee;
  border: 2px solid #000;
}
.categories__link {
  display: block;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  color: #222;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ddd;
  font-weight: bold;
  text-transform: capitalize;
  border: 2px solid transparent;
}
.calor--normal {
}
.calor--fighting {
}
.calor--flying {
}
.calor--poison {
}
.calor--ground {
}
.calor--rock {
}
.calor--bug {
}
.calor--ghost {
}
.calor--steel {
}
.calor--fire {
}
.calor--water {
}
.calor--grass {
}
.calor--electric {
}
.calor--psychic {
}
.calor--ice {
}
.calor--dragon {
}
.calor--dark {
}
.calor--fairy {
}

.result{
  padding-top: 40px;
  padding-bottom: 40px;
}
.result__container{
  padding-left: 20px;
  padding-right: 20px;
}
.result__title{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size:26px;
}
.result__title-count{
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(131,58,180);
  background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  margin-left: 4px;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.pokemons__item {
  position: relative;
  margin: 8px 8px;
  max-width: 220px;
  width: 100%;
  z-index: 1;
}
.pokemons__item:hover .pokemon__info{
  transform: scale(1);
  opacity: 1;
}
.pokemons__item:hover .pokemon__img{
  transform: translateY(-10px);
  /* transform: translateY(-50%); */
}
.pokemons__item:hover .pokemon__bookmark{
  display: block;
}
.pokemon {
}
.pokemon__bookmark{
  outline: none;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 0.2s ease;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-image: url("/img/bookmark-simple.svg");
  background-position: center center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #ddd;
}
.pokemon__bookmark:hover{
}

.pokemon__link {
  display: block;
  text-decoration: none;
  box-shadow: 0px 0px 10px #ddd;
  background-color: #fff;
  padding: 6px;
  border-radius: 10px;
  /* background-image: linear-gradient(
  to bottom,
  #cf1818 45%,
  #222 45%,
  #222 55%,
  #eee 55%,
  #eee 100%
  ); */
}

.pokemon__img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: 160px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.pokemon__info {
  /* transform: (0); */
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238,0.8);
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.pokemon__name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pokemon__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 0;
  list-style-type: none;
}
.pokemon__feature {
  padding: 2px 6px;
  background-color: #222;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  margin: 2px;
}
.pokemon__sizes {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 15px;
}
.pokemon__height-wrapper {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
.pokemon__height-img {
  display: block;
  object-fit: contain;
  margin-right: 2px;
}
.pokemon__height {
  display: block;
  font-weight: 700;
}
.pokemon__weight-wrapper {
  display: flex;
  align-items: center;
}
.pokemon__weight-img {
  display: block;
  object-fit: contain;
  margin-right: 2px;
}
.pokemon__weight {
  display: block;
  font-weight: 700;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal--open{
  display: flex;
}
.modal__inner{
  background-color: #fff;
  border-radius: 5px;
  max-width:760px;
  width: 100%;
}
.modal-pokemon{

}
.modal-pokemon__img{
  display: block;

}
.evolutions{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.evolutions__item{
  background-color: #fff;

}
.evolutions__item-img{

}
/* animations */

@keyframes bookmark-item{
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: none;
  }

}